
/*** GOOGLE FONTS ***/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');



/**** VARIABLES ***/
:root {
  --bodyFabe: #2B3544;
  --hellGrau: #D1D5DB;
  --buttonFarbe: #212936;
}


/*** BODY ***/
body {
  margin: 0;
  background-color: var(--bodyFabe);
  color: #fff;
  font-family: 'Arial', serif;
}
body h1 {
  font-family: 'Archivo Black', sans-serif;
}



/*** HEADER ***/
header {
  background-color: #000;
  padding: 15% 15%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}
header p {
  color: var(--hellGrau);
  font-size: 18px;
  line-height: 25px;
}
header a {
  transition: all .5s ease-in-out;
  text-decoration: none;
  background-color: var(--buttonFarbe);
  color: #fff;
  padding: 4px;
}
header a:hover{
  text-decoration: none;
  background-color: var(--hellGrau);
  color: var(--buttonFarbe);
  padding: 4px;
}







/*** POSTS ***/
#posts {
  padding: 0 5%;
}
#posts h2 {
  font-family: 'Domine', serif;
}



/*** POSTS WRAPPER **/
.postsWrapper {
  background-color: #394050;
  border-radius: 25px 25px 0 0;
}
.postsWrapper h2 {
  padding: 1% 7%;
}



/*** NAVIGATION **/
.postsWrapper nav {
  padding: 5% 7%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.postsWrapper nav img {
  width: 80px;
  margin-right: 2.5%;
}

.postsWrapper nav button {
  color: var(--hellGrau);
  text-decoration: none;
  background-color: var(--buttonFarbe);
  border-radius: 25px;
  padding: 15px;
  margin-right: 2.5%;
}

.postsWrapper nav button:hover {
  background-color: var(--hellGrau);
  color: var(--buttonFarbe);
  cursor: pointer;
}
.tablinks.active {
  background-color: var(--hellGrau);
  color: var(--buttonFarbe);
}



/*** BETRIEB ***/


#niicee .table-row {
  display: flex;
  gap: .7rem;
  margin-bottom: .7rem;
}
#niicee .table-cell {
  flex: 1;
  padding: 3%;
}
#niicee .table-cell:first-child {
  flex: .5;
  border-radius: 10px 0 0 10px;
  background-color: #394050;
  color: var(--hellGrau);
  line-height: 1.2rem;
  font-weight: bold;
}
#niicee .table-cell:last-child {
  border-radius: 0 10px 10px 0;
  background-color: var(--hellGrau);
}




/*** BERICHTE ***/
#posts {
  padding-top: 5%;
}

.tabcontent,
.tabcontent section {
  background-color: #fff;
  display: flex;
  padding: 2%;
  flex-wrap: wrap;
  gap: 30px;
}

.tabcontent h1 {
  color: #555;
  margin-left: 20px;
}


/*** POST BOX ***/
.postBox {
  color: #555;
  /*width: 350px;*/
  flex: 1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.postBox p {
  margin: 0;
  line-height: 23px;
}

.postBox a {
  text-decoration: none;
  background-color: var(--buttonFarbe);
  color: #fff;
  padding: 4px;
  margin-left: 10%;
}

.postBox a:hover {
  text-decoration: none;
  background-color: var(--hellGrau);
  color: var(--buttonFarbe);
  padding: 4px;
}



/*** POST TEXT ***/
.postText {
  padding: 10% 7% 20% 7%;
}

.postText h3 {
  margin: 0;
  margin-bottom: 15px;
  margin-top: 5px;
}

.postText small {
  color: #ccc;
}

.postText a {
  text-decoration: none;
  background-color: var(--buttonFarbe);
  color: #fff;
  padding: 4px;
  margin-left: 0;
}

.postText a:hover {
  text-decoration: none;
  background-color: var(--hellGrau);
  color: var(--buttonFarbe);
  padding: 4px;
}




/*** POST IMAGE ****/
.postImageWindow {
  width: auto;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

#Tab1 article:nth-child(1) .postImageWindow {
  background-image: url("/assets/img/niicee\ bild.jpg");
}

#Tab1 article:nth-child(2) .postImageWindow {
  background-image: url("/assets/img/hilfsmitteln.PNG");
  background-position-x: left;
}

#Tab2 article:nth-child(1) .postImageWindow {
  background-image: url("/assets/img/New-ideas.jpg");
}

#Tab2 article:nth-child(2) .postImageWindow {
  background-image: url("/assets/img/htmlkurs.jpg");
}

#Tab2 article:nth-child(3) .postImageWindow {
  background-image: url("/assets/img/layout-design.jpg");
}

#Tab3 article:nth-child(1) .postImageWindow {
  background-image: url("/assets/img/bugs.jpg");
}

#Tab3 article:nth-child(2) .postImageWindow {
  background-image: url("/assets/img/fortschritte.jpg");
}

#Tab4 article:nth-child(1) .postImageWindow {
  background-image: url("/assets/img/Documentation.png");
}

#Tab4 article:nth-child(2) .postImageWindow {
  background-image: url("/assets/img/bugs.jpg");
}

#Tab4 article:nth-child(3) .postImageWindow {
  background-image: url("/assets/img/ux\ design\ bild.jpg");
}

#Tab5 article:nth-child(1) .postImageWindow {
  background-image: url("/assets/img/css-frameworks.jpg");
}

#Tab5 article:nth-child(2) .postImageWindow {
  background-image: url("/assets/img/css\ ideen.jpg");
}

#Tab6 article:nth-child(1) .postImageWindow {
  background-image: url("/assets/img/javascript-lernen.png");
}

#Tab6 article:nth-child(2) .postImageWindow {
  background-image: url("/assets/img/json.png");
}

#Tab7 article:nth-child(1) .postImageWindow {
  background-image: url("/assets/img/jsprobleme.jpg");
}

#Tab7 article:nth-child(2) .postImageWindow {
  background-image: url("/assets/img/no-code-platforms.webp");
}

#Tab8 article:nth-child(1) .postImageWindow {
  background-image: url("/assets/img/letzte\ änderungen.jpg");
}

#Tab8 article:nth-child(2) .postImageWindow {
  background-image: url("/assets/img/responsive.webp");
}


/*** CONTENT-BOX ***/
.contentBox {
  padding: 7%;
  color: #000;
  padding: 5%;
}
#Tab1.contentBox {
  background-color: #F9FAFB;
}
#niicee.contentBox,
#fazit.contentBox {
  background-color: #F3F4F6;
}




/*** FOOTER ***/
footer {
  padding: 7%;
}

footer a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}
footer a:hover {
  opacity: .5;
}

footer img {
  width: 120px;
  margin-left: 1.5%;
  border-radius: 15px;
}


/*** SMARTPHONE + TABLETS ***/
@media only screen and (max-width: 800px) {
  header {
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 10%;
    flex-wrap: nowrap;
  }
  header h1 {
    font-size: 30px;
    line-height: 30px;
  }

  #niicee .table-cell {
    padding: 5%;
  }

  #niicee .table-row {
    flex-direction: column;
    gap: 0;
  }
  #niicee .table-cell:first-child {
    border-radius: 10px 10px 0 0;
  }
  #niicee .table-cell:last-child {
    border-radius: 0 0 10px 10px;
  }



  .postsWrapper nav button {
    margin-top: 3.5%;
    flex: 1;
  }
  .contentBox {
    padding: 10%;
  }
}

/*** DESKTOP ***/
@media only screen and (min-width: 992px) {
  header {
    flex-wrap: nowrap;
  }

} 