@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


body h1{
font-family: 'Archivo Black', sans-serif;
}

body {
  margin: 0;
  background-color: #2B3544;
  color: #fff;
  font-family: 'Arial', serif;
}

a {
  transition: all .5s ease-in-out;
}


header {
  background-color: #000;
  padding: 15% 15%;
  text-align:left;
  display: flex;
  justify-content: space-between;
}

header h1{
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}



header p {
  color: #D1D5DB;
  font-size: 18px;
  line-height: 25px;
}


#posts {
  padding: 0 5%;
}

#posts h2 {
  font-family: 'Domine', serif;
}



/*** POSTS WRAPPER **/
.postsWrapper {
  background-color: #394050;
  /** padding: 2% 5%; **/
  border-radius: 25px 25px 0 0;
}

.postsWrapper nav {
  padding: 5% 7%;
  display: flex;
  align-items: center;
}

.postsWrapper nav img{ 
  width: 80px;
  margin-right: 2.5%;
}

.postsWrapper nav button {
  color: #D1D5DB;
  text-decoration: none;
  background-color: #212936;
  border-radius: 25px;
  padding: 15px;
  margin-right: 2.5%;
}
.postsWrapper nav button:hover {
  background-color: #D1D5DB;
  color: #212936;
}

.postsWrapper h2 {
  padding: 1% 7%;
}



/*** BERICHTE ***/
#posts{
  padding-top: 5%;
}

.tabcontent {
  background-color: #fff;
  display: flex;
  padding: 2%;
  flex-wrap: wrap;
  gap: 30px;
}

.postBox {
  color: #555;
  /*width: 350px;*/
  flex: 1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}



.postBox p {
  margin: 0;
  line-height: 23px;
}

.postBox a{
  text-decoration: none;
  background-color: #212936;
  color: #fff;
  padding: 4px;
  margin-left: 10%;
}
.postBox a:hover {
  text-decoration: none;
  background-color: #D1D5DB;
  color: #212936;
  padding: 4px;
}

.postText {
  padding: 10% 7% 20% 7%;
}
.postText h3 {
  margin: 0;
  margin-bottom: 15px;
  margin-top: 5px;
}
.postText small {
  color: #ccc;
}
.postText a{
  text-decoration: none;
  background-color: #212936;
  color: #fff;
  padding: 4px;
  margin-left: 0;
}
.postText a:hover {
  text-decoration: none;
  background-color: #D1D5DB;
  color: #212936;
  padding: 4px;
}

.postImage {
  background-image: url('https://picsum.photos/seed/picsum/200/300');
  width: auto;
  height: 300px;
  background-size: cover;
  background-position:center; 
  border-radius: 10px 10px 0 0;
}



.contentBox {
  background-color: #F9FAFB;
  padding: 5%;
  color: #000;
}
.contentBox{
  padding: 7%;
}

#niicee.contentBox {
  background-color: #F3F4F6;
}

footer{
  padding:7%;
}

footer a{
  color: white;
  font-size: 3rem;
text-decoration: none;
}






/*Posts Bilder*/ 

.w1t1{
  background-image: url(/assets/img/htmlbild.jpg);
}





/*Modal*/
.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.modal.modalActive {
  display: block;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}